.products {
    margin-left: 20px;
    text-align: left;
}

.product-item {
    margin-left: 20px;
    text-align: left;
    display: inline-block;
}

.btn-cart {
    margin-left: 950px;
    text-align: left;
}
